.cart-item {
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.452);
  margin-bottom: 1px;
  height: 170px;
}
.main-cart {
  margin-block: 10px;
  min-width: 290px;
  height: auto;
  padding-right: 50px;
  box-sizing: content-box;
}

.small-detail {
  display: flex;
}

.small-detail p {
  margin-left: 100px;
}

.cart-item p {
  margin: 0;
}

.cart-img img {
  height: 100%;
  padding: 10px;
  padding-bottom: 40px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.cart-item button {
  border: none;
  color: #f43397;
  font-weight: bold;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.title-button {
  display: flex;
}

.cart-bottom {
  display: flex;
  border: 0.5px solid rgba(128, 128, 128, 0.452);
  justify-content: space-between;
  padding: 5px 15px;
}

.cart-bottom p {
  margin: 0;
}
.single-cart-right {
  height: max-content;
}
@media screen and (max-width: 622px) {
  .main-cart {
    width: 100%;
    margin-inline: auto;
    border: none;
    padding: 0;
  }
}
@media screen and (max-width: 425px) {
  .main-cart {
    padding: 0;
    width: 90%;
    margin-inline: auto;
    border: none;
  }
}
