.price-details{
    display: flex;
    flex-direction: column;
    width: 30vw;
}
.price-flex {
    display: flex;
    justify-content: space-between;
}
.price-flex p{
    margin: 10px;
}
.additional p:first-child{
    border-bottom: 1px dotted;
}

.price-details button{
    padding: 13px;
    background-color: #F43397;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.price-total{
    border-top: 1px solid rgba(128, 128, 128, 0.445);
}
.just-saying{
    margin: 5px 30px;
    padding: 2px;
    margin-bottom: 10px;
    font-size: 12px;
    background-color: rgba(228, 223, 223, 0.712);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.384);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.number-input{
    display: flex;
}
.price-details img{
    width: 90%;
    margin: auto;
}