.login-container{
    background-color: #fdeded;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.login-form{
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
}
.login-form h3{
    letter-spacing: 1.2px;
}
.login-container img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius : 10px ;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
form button{
        padding: 13px;
        background-color: #F43397;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        width: 80%;
        margin: 30px;   
}
.number-input{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.number-input p{
    font-weight: bold;
    margin-right: -35px;
}
.number-input input{
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.575);
    margin: 10px;
    width: 50%;
    margin-left: 0;
    font-size: 16px;
}
form input:focus{
    border: none;

}
.info-input{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}
.info-input input{
    font-size: 12px;
    padding: 5px;
    width: 200%;
    border: none;
    border-bottom: 2px solid;
}
.info-input input:focus{
    font-weight: normal;
    outline: none;
    border: none;
    border-bottom: 2px solid #F43397;
}