.card-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.pagination button{
    padding: 10px;
    background-color: #f0a5e6;
    border: transparent;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0,0.2);
}
.pagination button:hover{
    background-color: #f07de0;
    transition: 0.3s;
}
.pagination p{
    margin:0 20px;
    font-weight: bold;
    border-bottom: 1px solid red;
}