.product-page{
    display: flex;
    gap: 30px;
    margin: 20px;
    margin-left: 50px;
    padding: 0 100px;  
    font-weight: 500; 
}
.image-holder{
    aspect-ratio: 1/1;
    height: 60vh;
    display: flex;
    align-items: center;
}
.product-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.btn{
    padding: 12px 10px;
    width: 45%;
    margin: 5px;
    font-size:18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 0.02em;


}

.addToCart{
    border: 0.4px solid grey;
    background-color: rgb(252, 252, 252);
}
.buybtn{
    border: none;
    background-color: rgb(244,51,151);
    color: #fff;
}
.button-holder{
    display: flex;
    justify-content: center;
}
.product-border{
    border: 1px solid rgb(204, 204, 204);
    border-radius: 6px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 0.1px 1px grey;
}
.Product-title h4{
    color:#9999b2;
}
.Product-title h2{
    font-size: 30px;
}
.rating{
    border: 1px solid;
    object-fit: contain;
    width: 10px;
    border-radius: 50%;
}
.free-delivery{
    font-size: 10px;
}

.more-info{
    display: inline;
    cursor: pointer;
    border-bottom: 1px dotted grey;
}
.littleStar{
    color: #fff;
    height: 10px;
}
.free-size{
    border: 0.2px solid;
    text-align: center;
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 25px;
}
.rating.spark{
    width: 60px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 16px;
    padding: 4px 8px;
    background: rgb(35, 187, 117);
    fill: rgb(255, 255, 255);
}