*{
    font-family: sans-serif;
    box-sizing: border-box;
    color: #373737;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    background-color: #fefefe;
    height: 72px;
    align-items: center;
    letter-spacing: 0.3px;
    border-bottom: 1px solid rgba(55, 55, 55, 0.3);
}
.suplier, .profile, .cart{
    padding: 10px;
}
.profile-dropdown{
   background-color: #ff01dd;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: absolute;
   top: 71px;
   height: 160px;
   width: 180px;
   border-radius: 5px;
   opacity: 0;
}
.profile:hover .profile-dropdown{
    opacity: 1;
}
.profile-dropdown p{
    justify-content: start;
}
.profile-span{
    font-size: 10px;
}
a{
    text-decoration: none;
}
.cart{
    margin-right: 10px;
}
.logo a img{
    box-sizing: border-box;
    
    scale: 0.6;
    height: 55%;
    
    padding: 15px;
    margin-bottom: 10px;
}
.search-container .css-i4bv87-MuiSvgIcon-root{
    position: absolute;
    top: 9px;
    left: 10px;
}
.border-right{
   display: flex;
   height: 50%;
   padding-right: 30px;
   border-right: 2px solid rgba(5, 5, 5, 0.15);
   align-items: center;
   justify-content: center;
}
.download {
   display: flex;
   padding: 10px;
   
}
.search-container{
    width: 350px;
    min-width: 200px;
    max-width: 500px;
    position: relative;
    
}
#nav-search{
    padding: 10px;
    outline: none;
    border: 1px solid #555;
    border-radius: 4px;
    font-size: 15px;
    width: 100%;
    padding-left: 40px;
}
.lower-nav{
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
    z-index: 1;
}
.lower-nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.lower-nav ul:last-child{
    margin-right: 10px;
}
.lower-nav ul{
    padding:  0;
    margin: 0;
}
.lower-nav ul li{
    cursor: pointer;
    padding: 13px;  
    border-bottom: 4px solid white;
}
.lower-nav ul li:hover{
border-bottom: 4px solid #ff01dd;
color: #ff01dd;
font-weight: 500;
}
.cart, .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-text{
    text-decoration: none;
}
.cartIcon{
    color: aqua;
}
.cart p, .profile p{
    margin: 0;
}