.loginBtn {
  padding: 13px;
  background-color: #f43397;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 80%;
  margin: auto;
  margin: 10px;
}
.flex {
  display: flex;
  justify-content: center;
}
.flexEven {
  display: flex;
  justify-content: space-evenly;
}

.flexEvenCheckOut {
  display: flex;
  justify-content: space-evenly;
  margin-inline: auto;
  width: 100%;
}
.flexSpaceBetween {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.cashH4 {
  border: 1px solid;
  padding: 10px;
  box-shadow: 0 2px;
  display: flex;
  width: 100%;
  /* margin: 15px; */
  justify-content: space-between;
  min-width: 290px;
}
.errorMrg {
  background-color: red;
}
.cvvAndExp {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 5px 0;
}
.cvvAndExp input {
  width: 30%;
}
.height0 {
  height: 0;
  overflow: hidden;
}
.height100 {
  height: auto;
}
.checkoutAddress {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  box-shadow: 2px 1px 5px black;
}
.CheckoutPay {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 2px 1px 5px black;
  margin-top: 5px;
  min-width: 290px;
  max-width: 407px;
  margin-bottom: 5px;
}
.h4 {
  border: 1px solid;
  padding: 10px;
  box-shadow: 0 2px;
  display: flex;
  justify-content: space-between;
}

.width100 input {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid rgba(65, 65, 65, 0.671);
  width: 100%;
  margin: 2px;
}
.width100 input::placeholder {
  font-size: 0.9rem;
}
.flexAlignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.phone {
  display: flex;
  align-items: center;
}
.width100 {
  width: 100%;
  color: aliceblue;
}
.widthFull {
  min-width: 290px;
}
.Eta {
  width: 100%;
}
.checkoutDetail {
  max-width: 407px;
}
.popup h2 {
  color: white;
}
.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.marginTop {
  margin-top: 72px;
}
.mainCartPage {
  margin-top: 72px;
  margin-inline: auto;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 425px) {
  .flex,
  .flexEven,
  .flexEvenCheckOut {
    flex-direction: column;
  }
  .widthFull {
    width: 100%;
    margin: 5px;
  }
  .flexRow {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 622px) {
  .flex {
    flex-direction: column;
  }
}
